## Objective
Parses a text file table that has reinsurance and risk adjustment data for a benefit year into a CSV.

### Preprocessing
step 1: copy into raw text file

step 2: delete header

step 3: delete page numbers through the regexp ^RI RA.\*

step 4: remove blank lines through the regexp ^\n\n

step 5: find and replace "not eligible" with "N/E"

step 6: find and replace "\$ -" with "\$-"

step 7: find and replace "\$ " with "\$"

In [69]:
import pandas as pd
import re

In [70]:
with open('2014-Benefit-Year-Edit.txt', 'r') as myfile:
    s = myfile.read()

In [71]:
split = str.split(s)
length = len(split)

In [72]:
storage = pd.DataFrame(columns=["HIOS ID", "HIOS INPUTTED INSURANCE COMPANY NAME", "STATE", "REINSURANCE PAYMENT AMOUNT (OR NOT ELIGIBLE)",
               "HHS RISK ADJUSTMENT TRANSFER AMOUNT (INDIVIDUAL MARKET, INCLUDING CATASTROPHIC)",
               "HHS RISK ADJUSTMENT TRANSFERS AMOUNT (SMALL GROUP MARKET)"])

prog = re.compile('^[A-Z]{2}$')

i = 0
index = 0
while i < length - 1:
    hios_id = split[i]
    i = i + 1
    temp = i
    while (prog.match(split[i]) == None): # look for state in quotes
        i = i + 1
    company_name = str(' '.join(split[temp:i]))
    state = split[i]
    i = i + 1
    reinsurance = split[i]
    i = i + 1
    individual = split[i]
    i = i + 1
    small_group = split[i] 
    i = i + 1
    storage.loc[index] = [hios_id, company_name, state, reinsurance, individual, small_group]
    index = index + 1
    
print(storage)

       HIOS ID              HIOS INPUTTED INSURANCE COMPANY NAME STATE  \
0        11082                      Aetna Life Insurance Company    AK
1        62637                 John Alden Life Insurance Company    AK
2        73836                            Moda Health Plan, Inc.    AK
3        38344          Premera Blue Cross Blue Shield of Alaska    AK
4        38596                            Time Insurance Company    AK
5        80049                UnitedHealthcare Insurance Company    AK
6        42159                      All Savers Insurance Company    AL
7        46944             Blue Cross and Blue Shield of Alabama    AL
8        44902                Federated Mutual Insurance Company    AL
9        93122                            Freedom Life Insurance    AL
10       44580                          Humana Insurance Company    AL
11       49771                 John Alden Life Insurance Company    AL
12       13939                            Time Insurance Company    AL
13       69461                UnitedHealthcare Insurance Company    AL
14       59809           UnitedHealthcare Life Insurance Company    AL
15       68259                 UnitedHealthcare of Alabama, Inc.    AL
16       93018                                       VIVA Health    AL
17       62141                          Celtic Insurance Company    AR
18       60079                          Coventry Health and Life    AR
19       89365                Federated Mutual Insurance Company    AR
20       61273                            Freedom Life Insurance    AR
21       13262                                HMO Partners, Inc.    AR
22       99685                          Humana Insurance Company    AR
23       51826                 John Alden Life Insurance Company    AR
24       70525                             QCA Health Plan, Inc.    AR
25       37903  QualChoice Life & Health Insurance Company, Inc.    AR
26       30991                            Time Insurance Company    AR
27       22732           UnitedHealthcare Ins Co of River Valley    AR
28       81392                UnitedHealthcare Insurance Company    AR
29       53135           UnitedHealthcare Life Insurance Company    AR
..         ...                                               ...   ...
762      81413                               Network Health Plan    WI
763      58564             Physicians Plus Insurance Corporation    WI
764      38166           Security Health Plan of Wisconsin, Inc.    WI
765      94073                            Time Insurance Company    WI
766      59158                UnitedHealthcare Insurance Company    WI
767      89106           UnitedHealthcare Life Insurance Company    WI
768      80180               UnitedHealthcare of Wisconsin, Inc.    WI
769      37833          Unity Health Plans Insurance Corporation    WI
770      22554                                                      US
771  Insurance                                           Company    WI
772      81974           Wisconsin Physicians Svc Insurance Corp    WI
773      84670                             WPS Health Plan, Inc.    WI
774      26661              Coventry Health & Life Insurance Co.    WV
775      33577       Coventry Health Care of West Virginia, Inc.    WV
776      14414                Federated Mutual Insurance Company    WV
777      31274     Highmark Blue Cross Blue Shield West Virginia    WV
778      48421                 John Alden Life Insurance Company    WV
779      95628                              Optimum Choice, Inc.    WV
780      72982          The Health Plan of the Upper Ohio Valley    WV
781      59772                             THP Insurance Company    WV
782      35992                            Time Insurance Company    WV
783      77060                UnitedHealthcare Insurance Company    WV
784      79022                         Aetna Health of Utah Inc.    WY
785      11269                 Blue Cross Blue Shield of Wyoming    WY
786      49290                          Celtic Insurance Company    WY
787      47823                            Freedom Life Insurance    WY
788      72208                 John Alden Life Insurance Company    WY
789      29941                            Time Insurance Company    WY
790      49714                UnitedHealthcare Insurance Company    WY
791      53189                                WINhealth Partners    WY

    REINSURANCE PAYMENT AMOUNT (OR NOT ELIGIBLE)  \
0                                    $120,363.61
1                                            N/E
2                                 $13,102,419.34
3                                 $19,984,669.96
4                                  $1,558,728.91
5                                            N/E
6                                            N/E
7                                 $97,314,734.65
8                                            N/E
9                                    $107,806.57
10                                 $3,343,273.21
11                                           N/E
12                                   $661,562.99
13                                           N/E
14                                           N/E
15                                           N/E
16                                           N/E
17                                 $6,888,210.15
18                                         $0.00
19                                           N/E
20                                         $0.00
21                                           N/E
22                                     $4,723.94
23                                           N/E
24                                 $4,262,438.76
25                                           N/E
26                                 $2,304,205.03
27                                           N/E
28                                           N/E
29                                   $256,733.54
..                                           ...
762                                        $0.00
763                                  $140,156.72
764                               $43,113,883.54
765                                $9,155,177.35
766                                          N/E
767                                $1,343,804.49
768                                          N/E
769                                $4,934,795.29
770                                       Health
771                                          N/E
772                               $29,569,505.70
773                               $20,641,930.66
774                                          N/E
775                                   $28,106.85
776                                          N/E
777                               $26,810,291.22
778                                          N/E
779                                          N/E
780                                   $61,624.21
781                                          N/E
782                                   $48,505.44
783                                          N/E
784                                        $0.00
785                                $7,922,982.99
786                                        $0.00
787                                        $0.00
788                                          N/E
789                                $5,301,137.18
790                                          N/E
791                               $13,488,376.60

    HHS RISK ADJUSTMENT TRANSFER AMOUNT (INDIVIDUAL MARKET, INCLUDING CATASTROPHIC)  \
0                                         $(52,362.57)
1                                                   $-
2                                      $(4,806,964.11)
3                                        $5,782,175.12
4                                        $(922,848.49)
5                                                   $-
6                                                   $-
7                                          $993,113.39
8                                                   $-
9                                           $26,222.47
10                                       $(983,926.61)
11                                                  $-
12                                        $(35,409.21)
13                                                  $-
14                                                  $-
15                                                  $-
16                                                  $-
17                                     $(8,621,410.48)
18                                         $(4,414.54)
19                                                  $-
20                                         $(3,621.42)
21                                                  $-
22                                          $68,170.50
23                                                  $-
24                                     $(5,943,287.09)
25                                                  $-
26                                         $(2,043.49)
27                                                  $-
28                                                  $-
29                                          $71,131.67
..                                                 ...
762                                         $17,211.06
763                                        $556,347.70
764                                    $(4,769,092.74)
765                                      $5,745,648.38
766                                                 $-
767                                      $1,384,844.33
768                                                 $-
769                                      $7,490,116.39
770                                                and
771                                                 $-
772                                      $9,253,503.82
773                                      $6,159,459.81
774                                                 $-
775                                      $(107,392.55)
776                                                 $-
777                                        $128,655.69
778                                                 $-
779                                                 $-
780                                         $36,581.60
781                                                 $-
782                                       $(57,844.83)
783                                                 $-
784                                       $(50,038.73)
785                                      $6,093,726.20
786                                       $(16,001.90)
787                                          $(913.16)
788                                                 $-
789                                         $36,704.98
790                                                 $-
791                                    $(6,063,477.37)

    HHS RISK ADJUSTMENT TRANSFERS AMOUNT (SMALL GROUP MARKET)
0                                           $22,831.39
1                                           $78,962.62
2                                           $24,371.00
3                                        $(119,931.53)
4                                        $(317,715.76)
5                                          $311,482.27
6                                          $(2,634.74)
7                                        $1,551,403.36
8                                          $(7,318.77)
9                                                   $-
10                                                  $-
11                                           $9,879.88
12                                          $11,262.04
13                                         $206,168.06
14                                           $4,588.49
15                                        $(59,273.72)
16                                     $(1,714,074.57)
17                                                  $-
18                                        $(44,702.70)
19                                        $(55,065.97)
20                                                  $-
21                                         $210,345.00
22                                          $27,385.89
23                                        $(15,335.35)
24                                        $(55,681.10)
25                                        $(83,211.31)
26                                        $(50,048.48)
27                                       $(590,630.26)
28                                         $387,592.55
29                                                  $-
..                                                 ...
762                                        $(5,824.29)
763                                      $(104,807.25)
764                                      $(545,101.95)
765                                      $(145,802.24)
766                                      $2,979,572.04
767                                                 $-
768                                        $260,942.05
769                                        $802,161.46
770                                               Life
771                                        $(5,690.86)
772                                        $391,472.58
773                                       $(72,821.47)
774                                        $805,014.72
775                                        $140,229.75
776                                        $(9,423.93)
777                                      $(413,253.52)
778                                         $20,283.29
779                                       $(51,774.44)
780                                      $(127,889.82)
781                                         $16,747.80
782                                       $(59,979.36)
783                                      $(319,954.48)
784                                         $11,533.35
785                                      $(490,054.01)
786                                                 $-
787                                                 $-
788                                         $45,022.01
789                                        $594,176.69
790                                      $(160,678.00)
791                                                 $-

[792 rows x 6 columns]

In [73]:
# save it
storage.to_csv("2014-Benefit-Year-RI-RA.csv")